.rightbar {
          flex: 3.5;
}

.rightbarWrapper {
          padding: 20px 20px 0 0;
}

.birthdayContainer {
          display: flex;
          align-items: center;
}

.birthdayImg {
          width: 40px;
          height: 40px;
          margin-right: 10px;
}

.birthdayText {
          font-weight: 400;
          font-size: 15px;
}

.rightbarAd {
          width: 100%;
          border-radius: 10px;
          margin: 30px 0;
}


.rightbarFriendList {
          padding: 0;
          margin: 0;
          list-style: none;
}

.rightbarTitle {
          /* margin-bottom: 20px; */
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 10px;
}

.rightbarFriend {
          display: flex;
          align-items: center;
}

.rightbarProfileImgContainer {
          margin-right: 10px;
          position: relative;
}

.rightbarProfileImg {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
}

.rightbarOnline {
          position: absolute;
          top: -2px;
          right: -2px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: limegreen;
          border: 2px solid white;
}

.rightbarUsername {
          font-weight: 500;
}